*{
  background-color: wheat;
  outline: none;
  text-decoration: none;
}
#colorInput {
  margin-left: 25px;
    margin-bottom: 20px;
    padding: 20px 250px ;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(92, 43, 43);
    color: white;
    background-color: white;
    font-size: 50px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .colorButton {
    margin:  5px;
    padding: 50px 50px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
  }

  #orange:hover {transition: 1s;background-color: orange;}
  #red:hover {transition: 1s;background-color: red;}
  #blue:hover {transition: 1s;background-color: blue;}
  #green:hover {transition: 1s;background-color: green;}
  #purple:hover {transition: 1s;background-color: purple;}
  #yellow:hover {transition: 1s;background-color: yellow;}
  #lime:hover {transition: 1s;background-color: lime}
  #cyan:hover {transition: 1s;background-color:cyan;}

  #orange {background-color: white;}
  #red {background-color: white;}
  #blue {background-color: white;}
  #green {background-color: white;}
  #purple {background-color: white;}
  #yellow {background-color: white;}
  #lime {background-color: white}
  #cyan {background-color:white;}
